.toggle-visibility-button.is-show-true {
    border: none;
    background-color: #007bff;
    color: white;
}
.toggle-visibility-button.is-show-true:hover {
    background-color: #0167d5;
}

.toggle-visibility-button.is-show-false {
    border: none;
    background-color: #FFA500;
    color: black;
}

.toggle-visibility-button.is-show-false:hover {
    background-color: #fbbc48;
}

.no-result {
    text-align: center;
    color: tomato;
}

